html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.todo-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.todo-app .content {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.todo-app .sidebar {
    width: 25%;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.todo-app .main {
    flex: 1;
    overflow-y: auto;
}